.welcome {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  text-align: center;

  & img {
    width: 200px;
    height: 200px;
  }

  @media (--md-up) {
    bottom: 120px;
  }

  @media (min-height: 1080px) {
    & img {
      width: 288px;
      height: 288px;
    }
  }
}
