.welcome {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  text-align: center;

  & img {
    width: 200px;
    height: 200px;
  }

  /* ... and (--md-h-up) */
  @media (--md-up) and (min-height: 800px) {
    bottom: 100px;
  }

  @media (--md-h-up) {
    & img {
      width: 288px;
      height: 288px;
    }
  }
}
