.container.active {
  @mixin expand-to-container;

  min-height: 100vh;
  background-image:
    url("/images/background-stars.png"),
    linear-gradient(0deg, rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)),
    url("/images/story-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: var(--z-index-above);
  overflow: hidden;

  & section {
    background-size: contain;
    background-position: bottom;

    & img {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  @media (--md-up) {
    background-image:
      url("/images/background-stars.png"),
      linear-gradient(0deg, rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)),
      url("/images/story-bg-md.png");

    & section {
      background-size: cover;
      background-position: center;

      & img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  & .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 600ms ease-out, opacity 600ms ease-out;
  }

  & .slide:not(.present) {
    opacity: 0%;
    pointer-events: none;
  }

  & .past {
    transform: translate(0, -100%);
  }

  & .future {
    transform: translate(0, 100%);
  }

  & .slide.past:nth-child(1) {
    transform: translate(0, 100%);
  }

  & .slide.future:nth-child(2) {
    transform: translate(0, -100%);
  }

  & .slide.past:nth-child(2) {
    transform: translate(-100%, -100%);
  }

  & .slide.future:nth-child(3) {
    transform: translate(100%, 100%);
  }

  & .slide.future:nth-child(4) {
    transform: translate(-100%, 100%);
  }

  & .slide.past:nth-child(3) {
    transform: translate(100%, -100%);
  }

  & .slide.past:nth-child(4) {
    transition: opacity 600ms ease-out;
  }

  & .present {
    transform: translate(0, 0);
    pointer-events: auto;
  }

  & .dialog {
    position: absolute;

    border: 1px solid black;
    border-radius: 1.25rem;
    padding: 1.5rem;
    background-color: rgb(3 3 3 / 80%);
    transition: all 600ms ease-out;

    width: 28rem;

    @media (--md-down) {
      top: 6rem;
      left: 1rem;
      right: 1rem;
      width: unset;
    }

    & h2 {
      font-weight: var(--font-weight-semibold);
      font-size: var(--font-size-lg);
      padding-bottom: var(--spacing-tight);
    }

    & p {
      color: var(--color-grey-light);
    }

    & p + p {
      margin-top: var(--spacing-x-tight);
    }

    & p + div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: var(--spacing-base);
    }
  }
}

.container:not(.active) {
  display: none;
}
