.content {
  font-size: var(--font-size-sm-s);
  line-height: 1.5rem;

  @media (--md-up) {
    font-size: var(--font-size-md);
    line-height: 1.875rem;
  }

  & > * + * {
    margin-top: var(--spacing-base);
  }
}
