.copyright {
  @mixin inline-flex-center-all;

  margin: 0 auto;
  font-size: var(--font-size-sm-s);
  line-height: 1.5rem;
  color: var(--color-grey);
}

.designedBy {
  display: none;

  @media (--md-up) {
    display: initial;
    margin-left: var(--spacing-loose);
  }
}
