.container {
  @mixin flex-center-all;

  min-height: 100vh;
  text-align: center;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 1)
    ),
    url("/images/hero.png");
}
