.roadmap {
  background-color: var(--color-black-darkest);
  color: var(--color-white);
  padding-top: var(--global-section-padding-top);
}

.time {
  @mixin flex-center-all;
}

.fade {
  @mixin flex-center-start;
}

.line {
  flex-shrink: 0;
  align-self: stretch;
  width: var(--spacing-xx-loose);
}

.lineMdUp {
  width: 5rem;
}
