.container {
  @mixin flex-center-start;

  flex-direction: column;
  flex-grow: 1;
  border: 1px solid rgb(255 255 255 / 30%);
  border-radius: var(--spacing-x-tight);
  padding: var(--spacing-base);
  margin-bottom: var(--spacing-loose);

  & .info,
  & .timeDetails {
    width: 100%;
  }

  &.active {
    border: 1px solid #fff;
  }

  @media (--md-up) {
    @mixin flex-center-space-between;

    align-items: flex-start;
    flex-direction: row;
    padding: var(--spacing-loose);

    & .info {
      width: 46%;
    }
    & .timeDetails {
      width: 54%;
    }

    & .info {
      padding-right: var(--spacing-x-loose);
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--font-size-md-s);
  font-weight: var(--font-weight-semibold);

  @media (--md-up) {
    font-size: var(--font-size-xl);
  }
}

.content {
  margin-top: var(--spacing-tight);
}

.timeDetails {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: normal;
  padding-top: var(--spacing-tight);
  text-align: center;

  @media (--md-up) {
    padding-top: 0;
  }
}

.stages {
  display: flex;
  flex-direction: column;
}

.stage {
  display: flex;
  flex-direction: column;

  padding: var(--spacing-base);
  background: var(--color-black);
  border-radius: var(--spacing-base);
  line-height: 1.5rem;
  font-size: var(--font-size-md);
  text-align: left;

  & .event {
    color: var(--color-matters-green);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
  }

  & .date {
    font-weight: var(--font-weight-semibold);
  }

  & .time {
    color: var(--color-grey);
    padding-left: var(--spacing-xx-tight);
  }

  & .dash {
    font-size: var(--font-size-xm);
    padding: 0 var(--spacing-x-tight);
  }

  @media(--md-up) {
    & .evnt,
    & .date,
    & .time {
      font-size: var(--font-size-md);
    }
  }
}

.stageSpacing {
  margin-top: var(--spacing-base);
}

.stageTime {
  @mixin flex-center-start;

  flex-direction: column;

  & p {
    display: flex;
    align-items: center;
    align-self: flex-start;
  }

  @media(--md-up) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: var(--spacing-xx-tight);
  }
}

.button {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;

  & > * {
    margin-top: var(--spacing-base);
  }

  @media (--md-up) {
    & > * {
      margin-top: var(--spacing-loose);
    }
  }
}
