:root {
  --month-width: 2.85rem;
  --month-width-md-up: 3.75rem;
  --deco-width: 2rem;
  --deco-width-md-up: 3.5rem;
  --line-width: 0.125rem;
}

.item {
  @mixin flex-center-start;
}

.month {
  flex-shrink: 0;
  width: var(--month-width);
  font-size: var(--font-size-xm);
  font-weight: var(--font-weight-semibold);
  text-align: right;

  @media (--md-up) {
    width: var(--month-width-md-up);
    font-size: var(--font-size-xl);
  }
}

.deco {
  @mixin flex-center-all;

  flex-shrink: 0;
  align-self: stretch;
  width: var(--deco-width);

  @media (--md-up) {
    width: var(--deco-width-md-up);
  }
}

.circle {
  width: var(--spacing-x-tight);
  height: var(--spacing-x-tight);
  background: var(--color-white);
  border-radius: 50%;
}

.line {
  width: var(--line-width);
  height: 100%;
  background: var(--color-black);
}

.subtitle {
  font-size: var(--font-size-md-s);
  font-weight: var(--font-weight-bold);

  @media (--md-up) {
    font-size: var(--font-size-xl);
  }
}

.content {
  padding: var(--spacing-tight) 0 var(--spacing-xx-loose);
  font-size: var(--font-size-sm-s);
  line-height: 1.5rem;
  color: var(--color-grey-light);

  & a {
    color: var(--color-gradient-green-start);
  }

  @media (--md-up) {
    font-size: var(--font-size-lg);
    line-height: 2rem;
  }
}

.year {
  padding: var(--spacing-tight) 0 var(--spacing-loose);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  color: var(--color-gradient-green-start);

  @media (--md-up) {
    font-size: var(--font-size-xxl);
  }
}

.fadein {
  background: var(--color-black);
  background: linear-gradient(
    180deg,
    rgb(0 0 0 / 0%) 0%,
    var(--color-black) 100%
  );
}

.fadeout {
  background: var(--color-black);
  background: linear-gradient(
    0deg,
    rgb(0 0 0 / 0%) 0%,
    var(--color-black) 100%
  );
}
