.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.line {
  width: 2px;
  height: 100%;
  background: var(--color-grey);
  margin-left: 9px;
}

.lineMdUp {
  margin-left: 19px;
}

.lineFinished {
  background: var(--color-matters-green);
  background:
    linear-gradient(
      90deg,
      var(--color-gradient-green-start) 0%,
      var(--color-gradient-green-end) 100%
    );
}

.fade {
  height: 4.5rem;
}

.readyFadein {
  background: var(--color-grey);
  background:
    linear-gradient(
      180deg,
      rgb(0 0 0 / 0%) 0%,
      var(--color-grey) 100%
    );
}

.readyFadeout {
  background: var(--color-grey);
  background:
    linear-gradient(
      0deg,
      rgb(0 0 0 / 0%) 0%,
      var(--color-grey) 100%
    );
}

.finishedFadein {
  background: var(--color-gradient-green-start);
  background:
    linear-gradient(
      180deg,
      rgb(0 0 0 / 0%) 0%,
      var(--color-gradient-green-start) 50%,
      var(--color-gradient-green-end) 100%
    );
}

.finishedFadeout {
  background: var(--color-gradient-green-start);
  background:
    linear-gradient(
      0deg,
      rgb(0 0 0 / 0%) 0%,
      var(--color-gradient-green-start) 50%,
      var(--color-gradient-green-end) 100%
    );
}
