.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.line {
  width: 2px;
  height: 100%;
  background: var(--color-grey);
  margin-left: 9px;

  @media (--md-up) {
    margin-left: 19px;
  }
}

.lineClosed {
  background: var(--color-matters-green);
  background:
    linear-gradient(
      90deg,
      var(--color-gradient-green-start) 0%,
      var(--color-gradient-green-end) 100%
    );
}

.fade {
  height: 4.5rem;
}

.upcomingFadein,
.openFadein {
  background: var(--color-grey);
  background:
    linear-gradient(
      180deg,
      rgb(0 0 0 / 0%) 0%,
      var(--color-grey) 100%
    );
}

.upcomingFadeout,
.openFadeout {
  background: var(--color-grey);
  background: linear-gradient(0deg, rgb(0 0 0 / 0%) 0%, var(--color-grey) 100%);
}

.closedFadein {
  background: var(--color-matters-green);
  background:
    linear-gradient(
      180deg,
      rgb(0 0 0 / 0%) 0%,
      var(--color-gradient-green-start) 50%,
      var(--color-gradient-green-end) 100%
    );
}

.closedFadeout {
  background: var(--color-matters-green);
  background:
    linear-gradient(
      0deg,
      rgb(0 0 0 / 0%) 0%,
      var(--color-gradient-green-start) 50%,
      var(--color-gradient-green-end) 100%
    );
}
