/* Container
   ========================================================================== */
.button {
  @mixin all-transition;
  @mixin inline-flex-center-all;

  border-radius: 10rem;
}

.primary {
  color: var(--color-white);
  font-weight: var(--font-weight-medium);
  background: var(--color-matters-green);
  background: linear-gradient(
    90deg,
    var(--color-gradient-green-start) 0%,
    var(--color-gradient-green-end) 100%
  );

  /* &:hover,
  &:focus {
    background: linear-gradient(
      90deg,
      var(--color-gradient-green-start-hover) 0%,
      var(--color-gradient-green-end-hover) 100%
    );
  } */
}

.black {
  background: var(--color-black);
  color: var(--color-white);
  font-weight: var(--font-weight-normal);
}

.blackLight {
  background: var(--color-black-light);
  color: var(--color-white);
  font-weight: var(--font-weight-normal);
}
