.editor {
  position: fixed;
  right: 0;
  bottom: 16px;
  left: 0;
  z-index: 2;
  max-width: 40rem;
  padding: 0 var(--spacing-base);
  margin: 0 auto;
  text-align: center;

  /* ... and (--md-h-up) */
  @media (--md-up) and (min-height: 800px) {
    bottom: 160px;
    padding: 0;
  }
}
