.hero {
  @mixin flex-center-all;

  position: relative;
  min-height: 100vh;
  text-align: center;
  background-image: radial-gradient(rgb(0 0 0 / 50%), transparent),
    linear-gradient(to bottom, transparent 50%, black),
    url("/images/hero-bg-sm.jpg");
  transition: all 600ms ease-out;

  @media (--md-up) {
    background-image: radial-gradient(rgb(0 0 0 / 50%), transparent),
      linear-gradient(to bottom, transparent 50%, black),
      url("/images/hero-right.png"), url("/images/hero-left.png"),
      url("/images/hero-bg.jpeg");
    background-position: center, center, right, left, center;
    background-size: auto, auto, auto 100%, auto 100%, cover;
  }
}

.content {
  max-width: 40.5rem;
  margin: 0 auto;
  margin-bottom: 3rem;

  @media (--md-up) {
    margin-bottom: 7rem;
  }
}

.title {
  font-family: var(--font-bitmap);
  font-size: var(--font-size-xl);
  line-height: 1;

  @media (--sm-up) {
    font-size: 3rem;
  }
}

.subtitle {
  margin-top: var(--spacing-xx-loose);
  font-size: var(--font-size-xm);
  font-weight: var(--font-weight-semibold);
  line-height: 1.5rem;

  @media (--sm-up) {
    font-size: var(--font-size-xl);
    line-height: 2.25rem;
  }
}

.intro {
  margin-top: var(--spacing-x-tight);
}

.cta {
  @mixin flex-center-all;

  flex-direction: column;
  margin: var(--spacing-xx-loose) auto 0;

  & > a {
    margin-top: var(--spacing-base);
  }

  @media (--md-up) {
    & > a {
      margin-top: var(--spacing-loose);
    }
  }
}

.scrolldown {
  position: absolute;
  bottom: var(--spacing-loose);
  font-family: var(--font-bitmap);
}

.extra {
  position: relative;
  width: 100%;
  background-image: url("/images/hero-sm.png");

  &::before {
    display: block;
    padding-bottom: 56%;
    content: "";
  }

  @media (--md-up) {
    display: none;
  }
}
