.item {
  @mixin flex-center-space-between;

  padding: var(--spacing-base);
  border: 4px solid #977229;
}

.left {
  @mixin flex-start-start;
}

.avatar {
  width: 3rem;
  height: 3rem;
  margin-right: var(--spacing-base);
}

.name {
  font-size: var(--font-size-xm);
  font-weight: var(--font-weight-medium);
  line-height: 1.5rem;
  color: var(--color-white);
}

.info {
  margin-top: var(--spacing-tight);
  font-size: var(--font-size-sm);
  line-height: var(--font-size-sm);
  color: var(--color-matters-gold);
}
