.item {
  @mixin flex-center-all;

  flex-flow: column nowrap;
  align-items: stretch;
  padding: var(--spacing-base);
  border: 4px solid var(--color-logbook-gold-light);
}

.content {
  @mixin flex-center-space-between;
}

.owner {
  margin-top: var(--spacing-base);
  overflow: hidden;
  font-size: var(--font-size-xs);
  color: var(--color-grey);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.left {
  @mixin flex-center-start;
}

.avatar {
  width: 3rem;
  height: 3rem;
}

.logbook {
  @mixin flex-center-all;

  width: 3rem;
  height: 3rem;
  margin-right: var(--spacing-base);
  margin-left: 0;
}

.name {
  font-size: var(--font-size-xm);
  font-weight: var(--font-weight-medium);
  line-height: 1.5rem;
  color: var(--color-white);
}

.info {
  margin-top: var(--spacing-tight);
  font-size: var(--font-size-sm);
  line-height: var(--font-size-sm);
  color: var(--color-matters-gold);
}
