.title {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-lg);
  text-align: center;
  white-space: nowrap;

  @media (--md-up) {
    font-size: var(--font-size-xxxl);
    text-align: left;
  }
}
