.buttons {
  margin-top: var(--spacing-loose);
}

.cta {
  padding: 0 var(--spacing-base) var(--spacing-xx-loose);
  margin-top: var(--spacing-xx-loose);
  width: 100%;
}

.error {
  margin-top: var(--spacing-base);
  color: var(--color-red);
  font-size: var(--font-siz-base);
}
