.msg {
  @mixin flex-start-start;

  margin-top: var(--spacing-loose);
  font-size: var(--font-size-sm);
  line-height: 1.5rem;
}

.info {
  color: var(--color-grey-dark);
}

.success {
  color: var(--color-matters-green);
}

.warning {
  color: var(--color-matters-gold);
}

.error {
  color: var(--color-red);
}

.icon {
  @mixin inline-flex-center-all;

  width: 1.5rem;
  height: 1.5rem;
  margin-right: var(--spacing-x-tight);
}
