:root {
  --intro-padding-right: 5rem;
  --logo-size: 10rem;
  --logo-size-md-up: 15rem;
}

.container {
  @mixin pixel-bg;

  padding: var(--spacing-xxx-loose) 0;

  @media (--md-up) {
    background-image: url("/images/pixel-bg-6.png");
  }
}

.about {
  @mixin flex-center-start;

  flex-direction: column;
  padding-top: var(--spacing-base);

  & .intro,
  & .logo {
    width: 100%;
  }

  @media (--md-up) {
    @mixin flex-center-space-between;

    flex-direction: row;
    align-items: flex-start;
    padding-top: var(--spacing-loose);

    & .intro,
    & .logo {
      width: 50%;
    }

    & .intro {
      padding-right: var(--intro-padding-right);
    }
  }
}

.button {
  padding-top: var(--spacing-loose);
}

.logo {
  @mixin flex-center-all;

  align-self: stretch;

  & svg {
    width: var(--logo-size);
    height: var(--logo-size);
    margin-top: var(--spacing-loose);
  }

  @media (--md-up) {
    & svg {
      width: var(--logo-size-md-up);
      height: var(--logo-size-md-up);
      margin-top: calc(var(--spacing-xxx-loose) * -1);
    }
  }
}
