.intro {
  display: grid;
  grid-template-areas:
    "title"
    "description"
    "button";
  grid-gap: var(--spacing-base);

  & .title {
    grid-area: title;
  }

  & .button {
    grid-area: button;
    width: 100%;
  }

  & .description {
    grid-area: description;
  }

  @media (--md-up) {
    grid-template-areas:
      "title button"
      "description description";
    grid-gap: var(--spacing-x-loose) 0;

    & .button {
      align-self: start;
      justify-self: end;
      width: auto;
    }
  }
}

.base {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-xxx-loose) var(--spacing-base);
  margin-top: var(--spacing-x-loose);
  margin-bottom: var(--spacing-xxx-loose);

  @media (--md-up) {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: var(--spacing-xx-tight);
  }

  & .avatar {
    & img {
      border: 0;
    }
  }
}

.avatar {
  position: relative;
  text-align: center;

  &::before {
    display: block;
    padding-bottom: 100%;
    content: "";
  }

  & > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  & img {
    display: block;
    padding: var(--spacing-base);
    border: 1px solid var(--color-matters-green);
    border-radius: 1.25rem;
  }

  & p {
    margin-top: var(--spacing-x-tight);
  }
}

.gallery {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacing-xxx-loose) var(--spacing-base);
  padding-top: var(--spacing-xxx-loose);

  & .item:first-child {
    & div {
      @mixin flex-center-space-between;
    }

    & img {
      display: block;
      width: 50%;
      padding: var(--spacing-loose);
      border: 1px solid var(--color-grey-darker);
      border-radius: 1.25rem;
    }

    & p {
      width: 50%;
      padding-top: var(--spacing-base);
      text-align: center;
    }
  }

  @media (--md-up) {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;

    & .item:first-child {
      grid-column: span 2;

      & div {
        flex-direction: column;
      }

      & img,
      & p {
        width: 100%;
      }
    }

    & .item:last-child {
      grid-column: span 4;
    }
  }
}
