.container {
  padding: var(--spacing-base);
  margin: 0 auto;
  background: var(--color-black-darkest);
  border-radius: var(--spacing-base);

  @media (--sm-up) {
    width: 50%;
    padding: var(--spacing-xx-loose);
  }
}

.title {
  font-family: var(--font-bitmap);
  font-size: var(--font-size-lg);
  line-height: 1;

  @media (--sm-up) {
    font-size: var(--font-size-xl);
  }
}

.description {
  margin-top: var(--spacing-loose);
  font-size: var(--font-size-sm-s);
  line-height: 1.5rem;
  text-align: left;

  @media (--sm-up) {
    font-size: var(--font-size-md);
  }
}
