.icons {
  @mixin flex-center-space-between;

  margin-bottom: var(--spacing-base);
  width: 100%;
  font-size: 0;

  @media (--md-up) {
    display: none;
  }
}

.texts {
  display: none;
  font-size: var(--font-size-md);
  line-height: 1.5rem;
  color: var(--color-grey);

  & > * + * {
    padding-left: var(--spacing-loose);
  }

  @media (--md-up) {
    display: initial;
  }
}

.icons,
.texts {
  & a {
    @mixin all-transition;

    &:hover,
    &:focus {
      color: var(--color-matters-green);
    }
  }
}
