.header {
  @mixin flex-center-space-between;
  @mixin all-transition;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--spacing-base);
  color: var(--color-white);
  z-index: 1;
  background: rgba(0, 0, 0, 0);

  @media (--md-up) {
    padding: var(--spacing-loose) var(--spacing-xxx-loose);
  }

  &.active {
    background: rgba(0, 0, 0, 0.7);
  }
}

.name {
  display: none;

  @media (--md-up) {
    display: initial;
    font-family: var(--font-bitmap);
    color: var(--color-matters-green);
    background: -webkit-linear-gradient(
      var(--color-gradient-green-start),
      var(--color-gradient-green-end)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.buttons {
  @mixin inline-flex-center-all;

  & > * + * {
    padding-left: var(--spacing-x-tight);
  }

  @media (--md-up) {
    & > * + * {
      padding-left: var(--spacing-loose);
    }
  }
}
