.headerBar {
  @mixin flex-center-all;

  @media (--md-up) {
    margin: 0 6rem;
  }

  & > div {
    @mixin flex-end-space-between;

    flex-grow: 1;
    margin-top: -4rem;

    & div.side {
      @mixin flex-center-all;

      width: 3.5rem;
      height: 3.5rem;
    }

    & div.barTitle {
      padding: 0 4rem;
    }

    & .boxShadow {
      box-sizing: border-box;
      background: #17253d;
      border: 8px solid var(--color-logbooks-gold);
      box-shadow: 0 1px 16px rgb(0 0 0 / 2%);
    }

    & h1 {
      margin: 0.5rem 0;
      font-family: var(--font-bitmap);
      font-size: 1rem;
      line-height: 1.5rem;
      color: var(--color-logbooks-gold);

      /* identical to box height, or 156% */
      text-align: center;
      letter-spacing: 2px;

      @media (--md-up) {
        font-size: 2.25rem;
        line-height: 3.5rem;
      }
    }

    @media (--md-up) {
      @mixin flex-center-space-between;

      max-width: 40rem;
      margin-top: calc(-3rem);

      & div.side {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}

.searchBar {
  position: relative;
  margin: 1.5rem 0;

  & input {
    width: 100%;
    height: 3rem;
    padding: 1rem 2.5rem;
    color: var(--color-grey-darker);
    caret-color: var(--color-matters-green);
    background-color: var(--color-black);
    border: 1px solid var(--color-grey-darker);
    border-radius: 1.5rem;
    transition: all 0.2s ease-in-out 0s;
  }

  & button.search {
    position: absolute;
    top: var(--spacing-base);
    left: var(--spacing-base);
  }

  & button.clear {
    position: absolute;
    top: var(--spacing-base);
    right: var(--spacing-base);
  }
}

.content {
  @mixin flex-start-center;

  position: relative;
  align-content: flex-start;
  min-height: 40rem;

  @media (--md-up) {
    margin: var(--spacing-x-loose) 6rem 0 6rem;
  }

  & > section {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    align-items: stretch;
    justify-content: flex-start;
    max-width: 300px;

    @media (--md-up) {
      width: 100%;
      max-width: 40rem;
      min-height: 46rem;
      margin: 0 2rem;
    }

    & .intro {
      position: absolute;
      right: 0;
      bottom: -6rem;
      left: 0;
      max-width: 420px;
      margin: auto;

      & img {
        width: 100%;
      }
    }
  }
}

.text {
  /* margin: var(--spacing-base) 0; */

  & > section {
    margin-left: var(--spacing-x-loose);
  }

  & h2 {
    padding: 0.5rem 0;
    font-size: var(--font-size-lg);
    line-height: 2rem;
    text-align: center;

    @media (--md-up) {
      font-size: var(--font-size-xxxl);
      line-height: 3rem;
    }
  }

  & p {
    display: list-item;

    /* margin-left: var(--spacing-base); */
    font-size: var(--font-size-md);
    line-height: 1.5rem;
    color: var(--color-grey-light);
    list-style: disc;

    @media (--md-up) {
      font-size: 1.375rem;
      line-height: 2.25rem;
    }
  }
}

.listitems {
  @mixin flex-start-center;

  flex-flow: row wrap;
  row-gap: var(--spacing-base);
  width: 100%;
  max-width: 40rem;
  padding: var(--spacing-base) 0;

  & > div {
    @mixin flex-center-start;

    box-sizing: border-box;
    flex: 1 0 100%;
    width: 40rem;
    min-height: 6rem;
    padding: 1rem;
    padding: var(--spacing-base);

    /* Black */
    background: var(--color-black);
    border: 1px solid #ccc;
    border: 4px solid #977229;
  }

  & .listitem {
    /* Card Shadow */
    box-shadow: 0 1px 1rem rgb(0 0 0 / 2%);

    & div.avatar {
      width: 3rem;
      height: 3rem;
      border-radius: 3rem;
    }

    & div.avatarDescription {
      margin-left: 1rem;

      & h3 {
        font-size: var(--font-size-xm);
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-base);
        white-space: nowrap;
      }

      & p {
        margin-top: 0.75rem;
        font-size: 0.875rem;
        line-height: 0.875rem;
        color: var(--color-matters-gold);
      }
    }

    & div.avatarDetailLink {
      margin-left: auto;
    }
  }
}

.rotate180 {
  transform: rotate(180deg);
}
