:root {
  --logbook-vertical-spacing: 12rem;
  --logbook-vertical-spacing-lg: 20rem;
}

.main {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  background-image: url("/images/logbook/outer-bg.jpg");
  background-repeat: repeat-y;
}

.outer {
  position: relative;
  width: 100%;
  margin: 5rem 0;
  border-top: 4px solid var(--color-logbook-gold-light);
  border-bottom: 4px solid var(--color-logbook-gold-light);
  box-shadow: 0 -4px 0 0 var(--color-logbook-gold-dark);

  &::before {
    position: absolute;
    bottom: -8px;
    width: 100%;
    content: "";
    border-top: 4px solid var(--color-logbook-gold-dark);
  }
  @media (--md-up) {
    margin: 10rem 0;
  }
}

.container {
  position: relative;
  background-image: url("/images/logbook/inner-bg.jpg");
  border-right: 4px solid var(--color-logbook-gold-light);
  border-left: 4px solid var(--color-logbook-gold-light);
  box-shadow: -4px 0 0 0 var(--color-logbook-gold-dark);

  &::before {
    position: absolute;
    right: -8px;
    height: 100%;
    content: "";
    border-right: 4px solid var(--color-logbook-gold-dark);
  }
}

.inner {
  position: relative;
  max-width: 40rem;
  height: calc(100vh - var(--logbook-vertical-spacing));
  min-height: 40rem;
  margin: 0 auto;

  @media (--md-up) {
    height: calc(100vh - var(--logbook-vertical-spacing-lg));
    min-height: 50rem;
  }
}

.header {
  position: absolute;
  bottom: 100%;
  z-index: 1;
  width: 100%;

  @media (--md-up) {
    top: -2rem;
  }
}

.content {
  position: relative;
  height: 100%;
  padding: var(--spacing-base);
  overflow-y: auto;

  @media (--md-up) {
    padding: 4rem 0 var(--spacing-base);
  }
}
