:root {
  --logbook-vertical-spacing: 12rem;
}

.main {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  background-image: url("/images/logbook/outer-bg.jpg");
}

.outer {
  position: relative;
  width: 100%;
  border-top: 4px solid var(--color-logbook-gold-light);
  border-bottom: 4px solid var(--color-logbook-gold-light);

  /* &::before {
      border-top: 4px solid var(--color-logbook-gold-light);
  } */
}

.container {
  background-image: url("/images/logbook/inner-bg.jpg");
  border-right: 4px solid var(--color-logbook-gold-light);
  border-left: 4px solid var(--color-logbook-gold-light);
}

.inner {
  position: relative;
  max-width: 40rem;
  height: calc(100vh - var(--logbook-vertical-spacing));
  margin: 0 auto;
}

.header {
  position: absolute;
  bottom: 100%;
  z-index: 1;
  width: 100%;

  @media (--md-up) {
    top: -2rem;
  }
}

.content {
  position: relative;
  height: 100%;
  padding: var(--spacing-base);
  overflow-y: auto;

  @media (--md-up) {
    padding: 4rem 0 var(--spacing-base);
  }
}
