:root {
  --logbook-vertical-spacing: 12rem;
  --logbook-vertical-spacing-lg: 20rem;
}

.main {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  background-image: url("/images/logbook/outer-bg.jpg");
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.outer {
  position: relative;
  width: 100%;
  border-top: 4px solid var(--color-logbook-gold-light);
  border-bottom: 4px solid var(--color-logbook-gold-light);
  box-shadow: 0 -4px 0 0 var(--color-logbook-gold-dark);

  &::before {
    position: absolute;
    bottom: -8px;
    width: 100%;
    content: "";
    border-top: 4px solid var(--color-logbook-gold-dark);
  }
}

.container {
  position: relative;
  background-image: url("/images/logbook/inner-bg.jpg");
  border-right: 4px solid var(--color-logbook-gold-light);
  border-left: 4px solid var(--color-logbook-gold-light);
  box-shadow: -4px 0 0 0 var(--color-logbook-gold-dark);

  &::before {
    position: absolute;
    right: -8px;
    height: 100%;
    content: "";
    border-right: 4px solid var(--color-logbook-gold-dark);
  }
}

.inner {
  position: relative;
  max-width: 40rem;
  height: calc(100vh - var(--logbook-vertical-spacing));
  margin: 0 auto;

  @media (--md-up) {
    height: calc(100vh - var(--logbook-vertical-spacing-lg));
  }
}

.header {
  position: absolute;
  bottom: 100%;
  z-index: 1;
  width: 100%;

  @media (--md-up) {
    top: -2rem;
  }
}

.content {
  position: relative;
  height: 100%;
  padding: var(--spacing-base);
  overflow-y: auto;
  scrollbar-color: var(--color-logbook-gold-light);

  @media (--md-up) {
    padding: 4rem 0 var(--spacing-base);
  }
}

/* pages */
.main.listWelcome {
  & .content {
    height: calc(100% - 150px);
  }

  @media (--md-up) {
    & .content {
      height: calc(100% - 288px);
    }
  }
}

.main.detail {
  & .content {
    height: calc(100% - 100px);
  }

  @media (--md-up) {
    & .content {
      height: calc(100% - 150px);
    }
  }
}
