.questions {
  @mixin pixel-bg;

  padding: var(--spacing-xxx-loose) 0;

  & :global(a) {
    color: var(--color-gradient-green-start);
  }

  @media(--md-up) {
    background-image: url(/images/pixel-bg-5.png);
  }
}
