.questions {
  @mixin pixel-bg;

  padding: var(--spacing-xxx-loose) 0;

  & a {
    color: var(--color-matters-green);
  }

  @media(--md-up) {
    background-image: url(/images/pixel-bg-5.png);
  }
}
