:root {
  --color-matters-gold: #c0a46b;
  --color-matters-green: #1cb0ab;
  --color-black-darkest: #000;
  --color-black: #333;
  --color-black-light: #585858;
  --color-grey-darkest: #505050;
  --color-grey-darker: #808080;
  --color-grey-dark: #999c9d;
  --color-grey: #b3b3b3;
  --color-grey-light: #ddd;
  --color-grey-lighter: #f7f7f7;
  --color-white: #fff;
  --color-red: #c85c41;
  --color-red-lighter: #fae7e3;
  --color-green-lighter: #f2faf7;
  --color-yellow-lighter: #faf7f0;
  --color-gradient-green-start: #1cb0ab;
  --color-gradient-green-end: #33a5c9;
  --color-gradient-green-start-hover: #219792;
  --color-gradient-green-end-hover: #4a91a7;
  --color-logbook-gold-lighter: #bf8f31;
  --color-logbook-gold-light: #977229;
  --color-logbook-gold-dark: #503d18;
}
