:root {
  --color-matters-gold: #C0A46B;
  --color-error: #C85C41;

  --color-noir: #000000;
  --color-black: #333333;
  --color-grey-darker: #808080;
  --color-grey-dark: #999C9D;
  --color-grey: #B3B3B3;
  --color-grey-light: #DDDDDD;
  --color-grey-lighter: #F7F7F7;
  --color-white: #FFFFFF;

  --color-green-lighter: #F2FAF7;
  --color-border: rgba(0, 0, 0, 0.08);

  --color-gradient-green-start: #1cb0ab;
  --color-gradient-green-end: #33a5c9;
  --color-gradient-green-start-hover: #219792;
  --color-gradient-green-end-hover: #4a91a7;

  --color-gradient-light-metal-start: #D8FCFD;
  --color-gradient-light-metal-end: #EBE4FF;

  --color-gradient-heavy-metal-start: #43C0B9;
  --color-gradient-heavy-metal-middle: #228CDA;
  --color-gradient-heavy-metal-end: #B81DEF;

}
