:root {
  /* Font Stack */
  --font-sans-tc: -apple-system, blinkmacsystemfont, "Helvetica Neue",
    "Segoe UI", roboto, arial, "PingFang TC", "Microsoft YaHei",
    "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", sans-serif;
  --font-sans-sc: -apple-system, blinkmacsystemfont, "Helvetica Neue",
    "Segoe UI", roboto, arial, "PingFang SC", "Microsoft YaHei",
    "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
  --font-bitmap: "Press Start 2P", cursive;

  /* Type Scale */
  --font-size-xs-s: 0.6875rem; /* 11px */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm-s: 0.8125rem; /* 13px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md-s: 0.9375rem; /* 15px */
  --font-size-md: 1rem; /* 16px */
  --font-size-xm: 1.125rem; /* 18px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-xxl: 2rem; /* 32px */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;

  /* Base */
  --font-size-base: var(--font-size-md);
  --font-weight-base: var(--font-weight-normal);
  --line-height-base: 1.5;
}
