:root {
  --color-expandable-item-bg: #292929;
}

.container {
  color: var(--color-white);
}

.item {
  @mixin flex-center-space-between;

  padding: var(--spacing-tight) var(--spacing-base);
  cursor: pointer;
  background-color: var(--color-expandable-item-bg);
  border-radius: var(--spacing-x-tight);

  @media (--md-up) {
    padding: var(--spacing-base) var(--spacing-x-loose);
  }
}

.title {
  padding-right: var(--spacing-base);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);

  @media (--md-up) {
    font-size: var(--font-size-xm);
  }
}

.content {
  margin: var(--spacing-base) 0;
}
