.overlay {
  @mixin expand-to-container;

  content: "";
  background: rgba(0, 0, 0, 0.25);
  will-change: opacity;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  max-height: calc(var(--vh) * 90);
  background: var(--color-black);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  color: var(--color-white);
  border-radius: var(--spacing-x-tight) var(--spacing-x-tight) 0 0;
  will-change: transform, top;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);

  &::before {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: 300vh;
    content: "";
    background: var(--color-black);
  }

  &.fixedHeight {
    height: 80vh;
    height: calc(var(--vh) * 90);
  }

  @media (--sm-up) {
    border-radius: var(--spacing-x-tight);
    will-change: opacity;

    &::before {
      display: none;
    }

    &.noHeader {
      padding-top: 0;
    }

    &.fixedHeight {
      height: auto;
    }
  }

  &.sm {
    grid-column: 1 / -1;

    @media (--sm-up) {
      grid-column: col-start 3 / span 4;
    }

    @media (--md-up) {
      grid-column: col-start 3 / span 5;
    }

    @media (--lg-up) {
      grid-column: col-start 5 / span 4;
    }
  }

  &.lg {
    grid-column: 1 / -1;

    @media (--sm-up) {
      grid-column: col-start 2 / span 6;
    }

    @media (--md-up) {
      grid-column: col-start 3 / span 5;
    }

    @media (--lg-up) {
      grid-column: col-start 4 / span 6;
    }
  }
}
