.main {
  --color-logbooks-gold: #bf8f31;

  position: relative;
  display: grid;
  grid-template-areas:
    "header header header"
    "toolheader toolheader toolheader"
    "left content right"
    "footer footer footer";
  min-height: 100vh;
  background-image: url("/images/logbook-background.jpeg");

  @media (--md-up) {
    grid-template-areas:
      "header header header"
      "left toolheader right"
      "left content right"
      "footer footer footer";
    background-image: url("/images/logbook-background-lg.jpeg");
  }

  & .header {
    grid-area: header;
    width: 100%;
    min-height: 100px;
    background-image: url("/images/logbook-header-back.png");

    @media (--md-up) {
      min-height: 10.75rem;
      background-image: url("/images/logbook-background-header.png");
      background-repeat: repeat-x;
      background-position: bottom;
    }
  }

  & .left {
    grid-area: left;
    background-image: url("/images/logbook-content-left.jpeg");
    background-repeat: repeat-y;
    background-position: right;
    background-size: 100% auto;
  }

  & .right {
    grid-area: right;
    background-image: url("/images/logbook-content-right.jpeg");
    background-repeat: repeat-y;
    background-position: left;
    background-size: 100% auto;
  }

  & .content {
    grid-area: content;
  }

  & .footer {
    grid-area: footer;
    min-height: 6rem;
    background-image: url("/images/logbook-background-footer.png");
    background-position: top;
  }

  & .toolbarHeader {
    grid-area: toolheader;
  }
}
