.logbook {
  @mixin flex-center-all;
  @mixin pixel-bg;

  min-height: 100vh;
  padding: var(--spacing-xxx-loose) 0;
  background-image: url("/images/pixel-bg-1.png");
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  column-gap: var(--spacing-base);

  @media (--md-up) {
    flex-direction: row;
  }
}

.image {
  width: 100%;
  max-width: 32rem;
  height: auto;
  flex-shrink: 0;
  margin: 0 auto;
  margin-bottom: var(--spacing-xx-loose);

  @media (--md-up) {
    margin-bottom: 0;
  }
}

.text {
  font-size: var(--font-size-md);
  line-height: 1.875rem;

  & .title {
    margin-bottom: var(--spacing-base);
  }

  & > * + * {
    margin-top: var(--spacing-base);
  }

  @media (--lg-up) {
    width: 26rem;

    & .title {
      margin-bottom: var(--spacing-loose);
    }
  }
}
