.logbook {
  @mixin flex-center-all;
  @mixin pixel-bg;

  /* padding: var(--spacing-xxx-loose) 0; */

  position: relative;
  min-height: 100vh;
  padding-bottom: 56.25%; /* keep same ratio as background img 1920x1080 */

  @media (--md-up) {
    background-image: url("/images/logbook.jpg");
  }

  & > div {
    @mixin object-fit-cover;
    @mixin flex-center-all;
  }
}

.content {
  display: flex;
  flex-direction: column;
  column-gap: var(--spacing-base);
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 4rem;

  @media (--md-up) {
    flex-direction: row;
  }
}

.image {
  flex-shrink: 0;
  width: 100%;
  max-width: 32rem;
  height: auto;
  margin: 0 auto;
  margin-bottom: var(--spacing-xx-loose);

  @media (--md-up) {
    margin-bottom: 0;
  }
}

.text {
  display: grid;
  grid-template-areas:
    "title"
    "description"
    "button";
  gap: var(--spacing-base);
  align-items: center;
  font-size: var(--font-size-md);
  line-height: 1.875rem;

  & .title {
    grid-area: title;
  }

  & .button {
    grid-area: button;
    width: 100%;
  }

  & .description {
    grid-area: description;

    & > p + p {
      margin-top: var(--spacing-base);
    }
  }

  @media (--md-up) {
    grid-template-areas:
      "title button"
      "description description";
    grid-gap: var(--spacing-x-loose) 0;

    & .button {
      align-self: start;
      justify-self: end;
      width: auto;
    }
  }

  @media (--lg-up) {
    width: 26rem;
  }
}
