.header {
  @mixin flex-center-space-between;

  position: relative;
  flex-shrink: 0;
  padding: var(--spacing-tight) var(--spacing-base);

  & h1 {
    @mixin flex-center-all;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: var(--spacing-tight) 0;
    font-size: var(--font-size-xm);
    font-weight: var(--font-weight-medium);
    line-height: 1.5rem;
  }

  & .left {
    display: inline-flex;
    min-height: 1rem;
    z-index: 2;

    & :global(> *) {
      line-height: 1.5rem;
    }
  }

  @media (--sm-up) {
    & h1 {
      padding: 0;
    }

    & .left {
      min-height: 2rem;
    }
  }
}

.closeBtn {
  color: var(--color-black-light);

  &:hover,
  &:focus {
    color: var(--color-grey-darker);
  }
}
